<section>
  <div class="container">
    <ul class="tasks-list" id="task-list">
      <li class="task-list-item">
        <div class="task-list-item-btns">
          <button class="task-list-item-btn edit-btn">Edit</button>
          <button class="task-list-item-btn delete-btn">Delete</button>
        </div>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <div class="task-list-item-btns">
          <button class="task-list-item-btn edit-btn">Edit</button>
          <button class="task-list-item-btn delete-btn">Delete</button>
        </div>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <div class="task-list-item-btns">
          <button class="task-list-item-btn edit-btn">Edit</button>
          <button class="task-list-item-btn delete-btn">Delete</button>
        </div>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <div class="task-list-item-btns">
          <button class="task-list-item-btn edit-btn">Edit</button>
          <button class="task-list-item-btn delete-btn">Delete</button>
        </div>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <div class="task-list-item-btns">
          <button class="task-list-item-btn edit-btn">Edit</button>
          <button class="task-list-item-btn delete-btn">Delete</button>
        </div>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
      <li class="task-list-item">
        <div class="task-list-item-btns">
          <button class="task-list-item-btn edit-btn">Edit</button>
          <button class="task-list-item-btn delete-btn">Delete</button>
        </div>
        <h3>Заголовок</h3>
        <p>Текст</p>
      </li>
    </ul>
  </div>
</section>
